body {
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
}
nav {
    font-family: "Arial Black", Gadget, sans-serif;
}

.left-nav {
    width: 100%;
    height: 100%;
}
.left-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.left-nav ul li {
    display: inline;
}

.left-nav li a {
    display: block;
    color: #A4ABAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.left-nav li a:hover:not(.right-django-blog) {
    background-color: #000000;
}

.big-blue-square {
    height: 120px;
    width: 100%;
    background-color: #56C4F3;
}

.welcome-myblog {
    padding: 10px 0px 0px 150px;
    color: #ffffff;
    
}
.span2 {
    padding: 10px 0px 0px 150px;
    color: #ffffff;
}

main {
    margin: 0px 200px 0px 250px;
}
.title-name{
    font-size: 30px;
    color: #000000;
    text-decoration-line: none;
}
.title-name:hover{
    color: #49ACE4;
}

.author-name{
    color: blueviolet;
}

/*
.read-continue {
    border: 2px solid #000000;
    border-radius: 22px;
    width: 140px;
    height: 30px;
    margin: 20px 0px 0px 0px;
    
}
.read-continue a {
    margin: 0px 0px 5000px 45px;
    text-decoration-line: none;
}
*/

.read-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 35px 470px;
}
.read-button:hover{
    background-color: #49ACE4;
}